:host p,
:host h2,
:host h4 {
  font-family: 'Roboto',Helvetica,sans-serif;
}

.toolbar__spacer {
    flex: 1 1 auto;
}

.button--full-height {
    height: 100%;
    min-width: auto;
}

@media(max-width: 750px) {
  .button--full-height,

  /* make sure this selector is more specific! */
  :host a.mdl-navigation__link {
      font-size: 12px;
      padding: 0 7px;
  }
}

.button--last-child {
    position: absolute;
    right: 0;
    top: 0;
}

.button--link {
    color: #fff;
    text-decoration: none;
}

.button--cta {
    height: 45px;
    line-height: 45px;
    padding: 0 30px;
}

.button--cta > a {
    font-size: 14px;
}

.flex {
    display: flex;
}

.flex.center {
    align-content: center;
    justify-content: center;
}

.flex.center.vertical-center {
    align-items: center;
}

.flex.column {
    flex-direction: column;
}

.button__text--name {
    font-size: 20px;
    padding-left: 8px;
    font-weight: 300;
    transform: translateY(1px);
}

.uppercase {
    text-transform: uppercase;
}

.button-sm {
    display: none;
}

.hero {
    height: 355px;
    padding-top: 30px;
    background: -webkit-linear-gradient(rgba(56,142,60,1),rgb(76,175,80));
    background: linear-gradient(rgba(56,142,60,1),rgb(76,175,80));
    color: #fff;
    margin-bottom: 60px;
}

.hero img {
    width: 100%;
}

.hero__container {
    max-width: 920px;
}

.footer__container {
    height: 100%;
}

.footer__container {
    align-items: center;
    justify-content: space-between;
}

.hero__img-container {
    width: 400px;
}

.hero__spacer {
    width: 40px;
}

.width--full {
    width: 100%;
}

.flex-col--center {
    align-items: center;
}

.l-main-section,
.l-main-section-sm {
    min-height: 500px;
}

.l-main-section-sm {
    padding-right: 16px;
    padding-left: 16px;
}

.content {
    max-width: 650px
}

:host .content h4,
:host .content h2 {
    color: #37474F;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    margin-top: 10px;
    margin: 0 0 16px 0;
    opacity: .87;
}

:host .content p {
    line-height: 30px;
    font-size: 16px;
    line-height: 30px;
    opacity: .87;
}

@media(max-width: 400px) {
    .hero__img-container {
        width: 300px;
    }
}

.content__cta {
    margin-top: 32px;
}

.powered-by {
    font-size: 12px;
    margin: 0;
    opacity: .54;
}

footer {
    margin-top: 64px;
    height: 92px;
    background-color: #263238;
}

.item--left-most {
    padding-left: 24px;
}

.item--right-most {
    padding-right: 24px;
}

/* Navigation */
.mdl-navigation {
    height: 64px;
}
:host .mdl-navigation__link {
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.top-nav-wrapper label {
    display: none;
}

/* Colors */
.white {
    color: #fff;
}

.blue-grey-800 {
    color: #37474F;
}

.green--900 {
    color: rgba(56,142,60,1);
}

.green--500 {
    color: rgb(76,175,80);
}

.bg-green--500 {
    background-color: rgb(76,175,80);
}

:host .content a {
    color: rgb(76,175,80);
    cursor: pointer;
}

:host md-toolbar {
  position: absolute;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),
              0 3px 1px -2px rgba(0,0,0,0.2),
              0 1px 5px 0 rgba(0,0,0,0.12);
}
:host md-toolbar [md-button]:hover, [md-button].md-button-focus {
    background-color: rgb(56,142,60);
    border-radius: 0;
}

/* Font */
h1,h2,h3,h4,h5,p {
    font-family: Roboto;
}

.font-weight--300 {
    font-weight: 300;
}

.font-weight--400 {
    font-weight: 400;
}

.font-weight--500 {
    font-weight: 500;
}

@media(max-width: 640px) {

    .mdl-navigation {
        height: 200px;
    }

    .mdl-navigation button {
        display: block;
        height: 50px;
        width: 100%;
        text-align: left;
        position: relative;
        background: transparent;
    }

    .top-nav-wrapper {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    .top-nav-wrapper label {
        cursor: pointer;
        display: block;
        padding: 0 16px;
        top: 0;
        line-height: 64px;
        color: white;
        border-radius: 0;
        height: 64px;
    }

    .top-nav-wrapper nav {
        background: rgb(56,142,60);
        clear: both;
        margin-top: 64px;
        display: none;
        height: auto;
    }

    input:checked + .top-nav-wrapper nav {
      display: block;
    }

    input:checked + div > label {
      background-color: rgb(56,142,60);
    }

    .hide-sm {
        display: none;
    }

    .button-sm {
        display: block;
    }

    .flex-col-sm {
        flex-direction: column;
    }

    .hero-sm {
        height: 500px;
    }

    .text-align--center-sm {
        text-align: center;
    }

    footer {
        padding-top: 16px;
    }

    .item--left-most-sm {
        padding-left: 0;
    }

    .item--right-most-sm {
        padding-right: 0;
    }

    .powered-by-sm > p {
        line-height: 14px;
        text-align: center;
    }
}
