<!doctype html>
<html lang="en">
<head>
  <title>Universal Microsites</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
  <link href="logo.png" rel="shortcut icon" type="image/png">
  <base href="/">
</head>
<body style="margin: 0;">

  <app>
    Loading ...
  </app>

  <script src="/dist/client/index.js"></script>
</body>
</html>
